Package: [[packageName]]
Version: [[version]]
Priority: optional
Architecture: all
Depends: nginx
Maintainer: Kai Kewley <kke@ihtsdo.org>
Description: SNOMED Release Service Web UI
Distribution: stable
Section: web
