<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
	    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:annotation-config />

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:builder.properties"/>
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
	</bean>

	<bean id="messageListener" class="org.ihtsdo.buildcloud.builder.BuildMessageListener"/>

	<bean class="org.ihtsdo.buildcloud.builder.BuilderService"/>

	<bean class="org.ihtsdo.buildcloud.builder.MavenExecutor"/>

	<bean class="org.ihtsdo.buildcloud.builder.ReleaseApiClient"/>

	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory">
			<bean class="org.springframework.jms.connection.CachingConnectionFactory" destroy-method="destroy">
				<constructor-arg>
					<bean class="org.apache.activemq.ActiveMQConnectionFactory">
						<constructor-arg value="tcp://localhost:61616"/>
					</bean>
				</constructor-arg>
			</bean>
		</property>
		<property name="destinationName" value="org.ihtsdo.buildcloud.build.queue"/>
		<!-- Only one consumer -->
		<property name="concurrency" value="1"/>
		<property name="messageListener" ref="messageListener"/>
	</bean>

</beans>
