body {
	padding-top: 70px;
}
.navbar-brand {
	background: url("../images/ihtsdo-logo-small.png") no-repeat 15px 0px;
	padding-left: 75px;
}
.well h3 {
    margin-top: 0;
}
.nav a.active {
    font-weight: bold;
    border-right: 1px solid #428bca;
}
.nav .nav a {
    margin-left: 30px;
    font-size: 90%;
    padding-top: 3px;
    padding-bottom: 3px;
}
.nav .nav {
    margin-bottom: 8px;
}
