body {
	padding-top: 70px;
}
input {
	float: left;
}
label {
	display: block;
}
.form-control {
	width: 95%;
}
.navbar-brand {
	background: url("../images/ihtsdo-logo-small.png") no-repeat 15px 0px;
	padding-left: 75px;
}
.well h3 {
    margin-top: 0;
}
.nav a.active {
    font-weight: bold;
    border-right: 1px solid #428bca;
}
.nav .nav a {
    margin-left: 30px;
    font-size: 90%;
    padding-top: 3px;
    padding-bottom: 3px;
}
.nav .nav {
    margin-bottom: 8px;
}
.panel-products li {
    list-style: none;
}
.panel-build-input table {
    width: 100%;
}

/** Help 'infoPoint' **/
/*IE needs to use before or after in order to add content*/
[data-infoPoint]:after { 
	content: url("../images/info_icon_dead.png");
	display: inline-block;	
}
[data-infoPoint]:hover:after {
	content: url("../images/info_icon_alive.png");
	cursor: pointer;
}
/*IE needs additional hover block in order to pick up hover:after above*/
[data-infoPoint]:hover { 
		cursor: pointer;
}
