<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<context:annotation-config />
	<tx:annotation-driven/>

	<bean class="org.ihtsdo.buildcloud.dao.ReleaseCentreDAOImpl"/>
	<bean class="org.ihtsdo.buildcloud.dao.ExtensionDAOImpl"/>
	<bean class="org.ihtsdo.buildcloud.dao.ProductDAOImpl"/>
	<bean class="org.ihtsdo.buildcloud.dao.BuildDAOImpl"/>
	<bean class="org.ihtsdo.buildcloud.dao.PackageDAOImpl"/>
	<bean class="org.ihtsdo.buildcloud.dao.InputFileDAOImpl"/>
	<bean class="org.ihtsdo.buildcloud.dao.UserDAOImpl"/>
	<bean class="org.ihtsdo.buildcloud.dao.ReleaseCentreMembershipDAOImpl"/>
	<bean class="org.ihtsdo.buildcloud.dao.helper.DevDatabasePrimerDAO"/>

	<bean class="org.ihtsdo.buildcloud.service.ReleaseCentreServiceImpl"/>
	<bean class="org.ihtsdo.buildcloud.service.ExtensionServiceImpl"/>
	<bean class="org.ihtsdo.buildcloud.service.ProductServiceImpl"/>
	<bean class="org.ihtsdo.buildcloud.service.BuildServiceImpl"/>
	<bean class="org.ihtsdo.buildcloud.service.PackageServiceImpl"/>
	<bean class="org.ihtsdo.buildcloud.service.InputFileServiceImpl"/>
	<bean class="org.ihtsdo.buildcloud.service.DevDatabasePrimerService"/>
	<bean class="org.ihtsdo.buildcloud.service.maven.MavenExecutorImpl"/>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.h2.Driver"/>
		<property name="url" value="jdbc:h2:mem:db1;DB_CLOSE_DELAY=-1;MVCC=TRUE"/>
		<property name="username" value="sa"/>
		<property name="password" value=""/>
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<list>
				<value>org.ihtsdo.buildcloud.entity</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
				<prop key="hibernate.connection.release_mode">auto</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="dataSource" ref="dataSource" />
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean class="org.ihtsdo.buildcloud.service.maven.MavenGenerator"/>

	<bean class="com.amazonaws.services.s3.AmazonS3Client">
		<constructor-arg>
			<bean class="com.amazonaws.auth.BasicAWSCredentials">
				<constructor-arg value="AKIAJGB2POQVKUYCDVGA" />
				<constructor-arg value="8aWLHtJvJaSHmgFJxLzvjZsPZfM7gVNlQ7Ok8Lzp" />
			</bean>
		</constructor-arg>
	</bean>

	<bean class="java.lang.String" id="S3BucketName">
		<constructor-arg value="ire.maven.release.ihtsdo" />
	</bean>

	<bean class="org.codehaus.jackson.map.ObjectMapper" factory-bean="ObjectMapperFactory" factory-method="createObjectMapper"/>

	<bean id="ObjectMapperFactory" class="org.ihtsdo.buildcloud.service.mapping.ObjectMapperFactory"/>

	<bean class="org.ihtsdo.buildcloud.service.mapping.ConfigJsonMapper"/>

</beans>