<form>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Configuration</h3>
		</div>
		<div class="panel-body">
			{{#if isNotTriggered}}
			<p class="lead"><small>Please review the configuration before running the build.</small></p>
			{{/if}}

			<h4>Execution Configuration</h4>
<pre>{{configuration.json}}
</pre>
			{{#if controllers.application.isAuthenticated}}
				{{#if isNotTriggered}}
				<button type="button" id="tour-stop-10" class="btn btn-success btn-lg success" {{bind-attr disabled="isDemoData"}} {{action 'triggerBuild' this}}>
					<span class="glyphicon glyphicon-thumbs-up "></span> Run Build
				</button>
				{{/if}}
				{{#if isDemoData}}
				  (button disabled as data is required static for tour)
				{{/if}}
			{{/if}}
		</div>
	</div>
</form>
