Package: [[packageName]]
Version: [[version]]
Priority: optional
Architecture: all
Depends: openjdk-7-jdk
Maintainer: Kai Kewley <kke@ihtsdo.org>
Description: SNOMED Release Service API
Distribution: stable
Section: web
