<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
</ol>

<div class="jumbotron">
	<h1>Welcome!</h1>
	<p>Use the menu below to get started.</p>
</div>

{{#each releaseCentre in releaseCentres}}
<div class="page-header">
	<h2>{{releaseCentre.name}}</h2>
</div>
<h3>Extensions</h3>
{{#each extension in releaseCentre.extensions}}
<div class="panel panel-default">
	<div class="panel-heading">
		<h4>{{extension.name}}</h4>
	</div>
	<div class="panel-body panel-products">
		<h4>Products</h4>
		<ul>
			{{#each product in extension.products}}
			<li>
				{{#link-to 'product' releaseCentre extension product}}
				{{product.name}}
				{{/link-to}}
			</li>
			{{/each}}
			<li>
				<a class="add-button" href="#"><span class="glyphicon glyphicon-plus"></span> Add a Product</a>
			</li>
		</ul>
	</div>
</div>
{{/each}}
<a class="add-button" href="#"><span class="glyphicon glyphicon-plus"></span> Add an Extension</a>
{{/each}}
<hr/>