<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li>{{#link-to "release-centre" parent.parent.parent}}{{parent.parent.parent.name}}{{/link-to}}</li>
	<li>{{#link-to "extension" parent.parent}}{{parent.parent.name}}{{/link-to}}</li>
	<li>{{#link-to "product" parent}}{{parent.name}}{{/link-to}}</li>
</ol>

<h3>{{name}}</h3>

<div class="row">
	<div class="col-md-3">
		<ul class="nav">
			<li class="active">{{#link-to 'configuration'}}Configuration{{/link-to}}
				<ul class="nav">
					<li>{{#link-to 'pre-conditions'}}Pre-conditions{{/link-to}}
					<li>{{#link-to 'post-conditions'}}Post-conditions{{/link-to}}
				</ul>
			</li>
			<li>{{#link-to 'build-input'}}Build Input{{/link-to}}
			<li>{{#link-to 'build-trigger'}}Build Trigger{{/link-to}}
			<li>{{#link-to 'build-results'}}Build Results{{/link-to}}
		</ul>
	</div>
	<div class="col-md-9">
		{{outlet}}
	</div>
</div>