<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li>{{#link-to "release-center" product.parent.parent}}{{product.parent.parent.shortName}}{{/link-to}}</li>
	<li>{{#link-to "extension" product.parent}}{{product.parent.name}}{{/link-to}}</li>
	<li>{{#link-to "product" product}}{{product.name}}{{/link-to}}</li>
	<li id="tour-stop-c6"> {{name}}</li>
</ol>

<h2 class="page-header" id="tour-stop-5">{{name}} <small>(Product Build) {{partial "title-dropdown"}}</small></h2>

<div class="row">
	<div class="col-xs-4">
		<div  id="tour-stop-6">
			<h3>Packages</h3>
			<ul>
				{{#each package in packages}}
				<li>
					{{#link-to "package"  package}}
					{{package.name}}
					{{/link-to}}
				</li>
				{{/each}}
			</ul>
			<button class="btn btn-primary btn-md list-align" {{action 'addPackage' this}}>
				<span class="glyphicon glyphicon-plus"></span> Add a Package
			</button>
		</div>
		<div id="tour-stop-8" class="margin-top-big">
			<h3>Build Triggers</h3>
			<div class="well-sm">
				<button {{action 'createExecution' this}} type="button" class="btn btn-success btn-lg success " >
					<span class="glyphicon"></span> Build Now...
				</button>
			</div>
			<div class="well-sm">
				Automatic nightly build <strong>Enabled</strong>. <button class="btn btn-default">Disable</button>
			</div>
		</div>
	</div>
	<div class="col-xs-4 build-history" id="tour-stop-7">
		<h3>Execution History</h3>
		<ul>
			<li title="In Progress" data-toggle="tooltip" data-placement="right">
				{{#link-to "execution" "2014-03-31T09:30:23"}}
				31 Mar, 2014 09:30:23 (UTC)
				<span class="traffic-light traffic-light-success traffic-light-in-progress"></span>
				{{/link-to}}
			</li>
			<li title="Success" data-toggle="tooltip" data-placement="right">
				{{#link-to "execution" "2014-03-31T13:08:12"}}
				31 Mar, 2014 13:08:12 (UTC)
				<span class="traffic-light traffic-light-success"></span>
				{{/link-to}}
			</li>
			<li title="Success" data-toggle="tooltip" data-placement="right">
				{{#link-to "execution-mock"}}
				16 Feb, 2014 01:05:00 (UTC)
				<span class="traffic-light traffic-light-success"></span>
				{{/link-to}}
			</li>
			<li title="Warning" data-toggle="tooltip" data-placement="right">
				{{#link-to "execution-mock"}}
				15 Feb, 2014 01:05:00 (UTC)
				<span class="traffic-light traffic-light-warning"></span>
				{{/link-to}}
			</li>
			<li title="Failure" data-toggle="tooltip" data-placement="right">
				{{#link-to "execution-mock"}}
				14 Feb, 2014 01:05:00 (UTC)
				<span class="traffic-light traffic-light-failure"></span>
				{{/link-to}}
			</li>
			<li class="no-bullet">{{#link-to "execution-history"}}More...{{/link-to}}</li>
		</ul>
	</div>
	<div class="col-xs-4">
		<h4>Some Task</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis felis gravida, consectetur velit vitae, aliquet quam. Curabitur nisi leo, bibendum ac augue quis, euismod auctor tellus. Donec vitae fringilla erat. Suspendisse id imperdiet mauris. Quisque fermentum convallis velit, sagittis feugiat ante malesuada luctus. </p>
		<h4>Some Task</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis felis gravida, consectetur velit vitae, aliquet quam. Curabitur nisi leo, bibendum ac augue quis, euismod auctor tellus. Donec vitae fringilla erat. Suspendisse id imperdiet mauris. Quisque fermentum convallis velit, sagittis feugiat ante malesuada luctus. </p>
	</div>
</div>
