<div class="panel panel-default panel-build-input">
	<div class="panel-heading">
		<h3 class="panel-title">Build Input</h3>
	</div>
	<div class="panel-body">
	
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Manifest File</div>
			</div>
			<div class="panel-body">

				<form method="post" id="buildManifestUploadForm" enctype="multipart/form-data" target="buildInputFileUploadIframe" novalidate="novalidate">
					<div class="actionpath hidden">api/v1/builds/{{parent.id}}/packages/{{id}}/manifest</div>
					<div class="form-group">
						<input type="file" name="file" class="form-control" required/>
					</div>
					<input type="submit" id="buildManifestUploadBtn" class="btn btn-default" value="Upload"/>
				</form>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Input Files</div>
			</div>
			<div class="panel-body">
				<table>
					<thead>
						<th>Name</th>
						<th>Source</th>
						<th></th>
					</thead>
					<tbody>
						{{#each inputfiles}}
						<tr>
							<td>{{name}}</td>
							<td>Uploaded</td>
							<td><a href="#" {{action 'deleteInputFile' this}}><span class="glyphicon glyphicon-remove" title="Remove file" data-toggle="tooltip" data-placement="right"></span></a></td>
						</tr>
						{{else}}
						<tr>
							<td>Empty</td>
							<td></td>
						</tr>
						{{/each}}
					</tbody>
				</table>
				<hr/>
				<h4>Upload</h4>
				<form method="post" id="buildInputFileUploadForm" enctype="multipart/form-data" target="buildInputFileUploadIframe" novalidate="novalidate">
					<div class="actionpath hidden">api/v1/builds/{{parent.id}}/packages/{{id}}/inputfiles/</div>
					<div class="form-group">
						<label>Build Input File</label>
						<input type="file" name="file" class="form-control" required/>
					</div>
					<div class="form-group">
						<label>Short Name</label>
						<input type="text" name="shortName" class="form-control" minlength="3" required/>
					</div>
					<input type="submit" id="buildInputFileUploadBtn" class="btn btn-default" value="Upload"/>
				</form>
				<iframe id="buildInputFileUploadIframe" style="display: none;"/>
				<button class="reloadmodel hidden" {{action 'reload'}}>Reload Model</button>
			</div>
		</div>
	</div>
</div>

<hr/>
<div class="alert alert-warning">Panels below this message are pure mock-up.</div>

<div class="panel panel-default panel-build-input">
	<div class="panel-heading">
		<h3 class="panel-title">Build Input</h3>
	</div>
	<div class="panel-body">
		<h4>File Sets</h4>

		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Documentation</div>
			</div>
			<div class="panel-body">
				<table>
					<thead>
					<th>Name</th>
					<th>Source</th>
					</thead>
					<tbody>
					<tr>
						<td>SnomedCTReleaseNotes.pdf</td>
						<td>Uploaded</td>
					</tr>
					<tr>
						<td>Icd10MapTechnicalGuideExemplars.xlsx</td>
						<td>Uploaded</td>
					</tr>
					</tbody>
				</table>
				<a class="add-button" href="#" onclick="return false;"><span class="glyphicon glyphicon-plus"></span> Add a File</a>
				<hr/>
				<strong>Destination:</strong> /Documentation/ <a href="#" onclick="return false;">Change Destination</a>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">SNOMED CT Deltas</div>
			</div>
			<div class="panel-body">
				<table>
					<thead>
					<th>Name</th>
					<th>Source</th>
					</thead>
					<tbody>
					<tr>
						<td>org.ihtsdo.workbench-export-rf2.zip</td>
						<td>Maven</td>
					</tr>
					</tbody>
				</table>
				<a class="add-button" href="#" onclick="return false;"><span class="glyphicon glyphicon-plus"></span> Add a File</a>
				<hr/>
				<strong>Processing:</strong> Extract, Generate IDs, Patch Kaiser Descriptions <a href="#" onclick="return false;">Edit Steps</a>
			</div>
		</div>

		<a class="add-button" href="#" onclick="return false;"><span class="glyphicon glyphicon-plus"></span> Add a File Set</a>
	</div>
</div>

<div class="panel panel-default panel-build-input">
	<div class="panel-body">

		<div class="alert alert-warning">These fields may no longer be relevant.</div>

		<div class="form-group">
			<label data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Parturient montes, nascetur ridiculus mus." title="Read Me File">
				Readme File
			</label>
			<input type="file" >
		</div>
		<div class="form-group">
			<label data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Parturient montes, nascetur ridiculus mus." title="RF2 Delta Location">
				RF2 Delta location
			</label>
			<input type="text" class="form-control">
		</div>
		<div class="form-group">
			<label data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Parturient montes, nascetur ridiculus mus." title="Effective Date">
				Effective Date
			</label>
			<input type="date" class="form-control" >
		</div>
	</div>
</div>
<!--<button type="submit" class="btn btn-default">Save</button>-->