<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li>{{#link-to "release-centre" parent}}{{parent.shortName}}{{/link-to}}</li>
	<li>{{name}}</li>
</ol>

<h2>{{name}} <small>(Extension) {{partial "title-dropdown"}}</small></h2>
<h3>Products</h3>
<ul>
	{{#each products}}
	<li>
		{{#link-to "product" this}}
		{{name}}
		{{/link-to}}
	</li>
	{{/each}}
</ul>
<button class="btn btn-primary btn-md list-align" {{action 'addProduct' this}}>
	<span class="glyphicon glyphicon-plus"></span> Add a Product
</button>