<div class="front-page">
	<ol class="breadcrumb">
		<li><a href="#">Home</a></li>
	</ol>

	{{#each releaseCentre in releaseCentres}}

	<div class="jumbotron">
		<h1>Welcome</h1>
		<p>{{releaseCentre.name}} Release Centre Dashboard</p>
		<!--<p>Use the menu below to get started.</p>-->
	</div>

	<div class="extensions">
		{{#each extension in releaseCentre.extensions}}
		<h2 class="page-header">{{extension.name}} <small>(Extension)</small></h2>
		<div class="row">
			<div class="col-md-4 col-md-offset-1">
				<h3>Products</h3>
				<ul>
					{{#each product in extension.products}}
					<li>
						{{#link-to 'product' releaseCentre extension product}}
						{{product.name}}
						{{/link-to}}
					</li>
					{{/each}}
				</ul>
				<a class="add-button" href="#"><span class="glyphicon glyphicon-plus"></span> Add a Product</a>
			</div>
		</div>
		{{/each}}
	</div>
	<a class="add-button" href="#"><span class="glyphicon glyphicon-plus"></span> Add an Extension</a>
	{{/each}}
</div>