<div class="jumbotron row">
	<div class="col-md-6">
		<h1>Welcome!</h1>
		<p>Login to get started.</p>
	</div>
	<div class="col-md-6 centre" style="min-height: 7em; display: table; ">
		<!-- GooglePlus Login Button -->
		<div id="clientLogin" class="toggle" style="display: table-cell; vertical-align: middle; height: 100%"  >
			<div class="g-signin" data-callback="signinCallback"  
				data-approvalprompt="force"
				data-clientid="499504425278-v1te1pbpfuusp0ev4h5q03bu19rd4fha.apps.googleusercontent.com"
				data-accesstype="online"
				data-scope="profile"
				data-cookiepolicy="single_host_origin" >
			</div>
		</div>
	</div>	
</div>