<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li>{{#link-to "release-centre" parent.parent}}{{parent.parent.name}}{{/link-to}}</li>
	<li>{{#link-to "extension" parent}}{{parent.name}}{{/link-to}}</li>
	<li>{{name}}</li>
</ol>

<h2 class="page-header">{{name}} <small>(Product)</small></h2>
<h3>Builds</h3>
<ul>
	{{#each builds}}
	<li>
		{{#link-to "build" this}}
		{{name}}
		{{/link-to}}
	</li>
	{{/each}}
	<li class="noBullet"><a class="add-button" href="#"><span class="glyphicon glyphicon-plus"></span> Add a Build</a></li>
</ul>
<br/>
