<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li>{{#link-to "release-centre" parent.parent}}{{parent.parent.name}}{{/link-to}}</li>
	<li>{{#link-to "extension" parent}}{{parent.name}}{{/link-to}}</li>
	<li>{{name}}</li>
</ol>

<h2 class="page-header">{{name}} <small>(Product) {{partial "title-dropdown"}}</small></h2>
<h3>Builds</h3>
<ul>
	{{#each builds}}
	<li>
		{{#link-to "build" this}}{{name}}{{/link-to}}
		<a href="#" title="Star build to show on home page." data-toggle="tooltip" onclick="$(this).find('span').toggleClass('glyphicon-star-empty'); return false;"><span class="glyphicon glyphicon-star glyphicon-star-empty"></span></a>
	</li>
	{{/each}}
</ul>
<a class="add-button list-align" href="#" onclick="return false;"><span class="glyphicon glyphicon-plus"></span> Add a Build</a>
