<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li>{{#link-to "release-center" product.parent.parent}}{{product.parent.parent.shortName}}{{/link-to}}</li>
	<li>{{#link-to "extension" product.parent}}{{product.parent.name}}{{/link-to}}</li>
	<li>{{#link-to "product" product}}{{product.name}}{{/link-to}}</li>
	<li>{{name}}</li>
</ol>

<h2 class="page-header">{{name}} - Execution History</h2>

<ul>
	<li title="In Progress" data-toggle="tooltip" data-placement="right">
		{{#link-to 'build' releaseCenter "snomed_ct_international_edition" "snomed_ct_international_edition" "1_20130731_international_release" }}20130731_international_release{{/link-to}}
		{{#link-to "execution-mock" releaseCenter "snomed_ct_international_edition" "snomed_ct_international_edition" "1_20130731_international_release" title='Last Run: 17 Feb, 2014 01:05:00 UTC'}}<span class="traffic-light traffic-light-success traffic-light-in-progress"></span>{{/link-to}}
	</li>
	<li title="Success" data-toggle="tooltip" data-placement="right">
		{{#link-to 'build' releaseCenter "snomed_ct_international_edition" "snomed_ct_international_edition" "3_20140131_international_release__nightly" }}20140131_international_release__nightly{{/link-to}}
		{{#link-to "execution" releaseCenter "snomed_ct_international_edition" "snomed_ct_international_edition" "3_20140131_international_release__nightly" title='Last Run: 17 Feb, 2014 01:05:00 UTC'}}<span class="traffic-light traffic-light-success"></span>{{/link-to}}
	</li>
	<li title="Warning" data-toggle="tooltip" data-placement="right">
		{{#link-to 'build' releaseCenter "snomed_ct_international_edition" "snomed_ct_international_edition" "2_20140131_international_release__biannual" }}20140131_international_release__biannual{{/link-to}}
		{{#link-to "execution" releaseCenter "snomed_ct_international_edition" "snomed_ct_international_edition" "2_20140131_international_release__biannual" title='Last Run: 17 Feb, 2014 01:05:00 UTC'}}<span class="traffic-light traffic-light-warning"></span>{{/link-to}}
	</li>
	<li title="Failure" data-toggle="tooltip" data-placement="right">
		{{#link-to 'build' releaseCenter "snomed_ct_international_edition" "snomed_ct_spanish_edition" "8_20140731_international_release__biannual" }}20140731_international_release__biannual{{/link-to}}
		{{#link-to "execution" releaseCenter "snomed_ct_international_edition" "snomed_ct_spanish_edition" "8_20140731_international_release__biannual" title='Last Run: 17 Feb, 2014 01:05:00 UTC'}}<span class="traffic-light traffic-light-failure"></span>{{/link-to}}
	</li>
	<li title="In Progress" data-toggle="tooltip" data-placement="right">
		{{#link-to 'build' releaseCenter "snomed_ct_international_edition" "snomed_ct_international_edition" "1_20130731_international_release" }}20130731_international_release{{/link-to}}
		{{#link-to "execution" releaseCenter "snomed_ct_international_edition" "snomed_ct_international_edition" "1_20130731_international_release" title='Last Run: 17 Feb, 2014 01:05:00 UTC'}}<span class="traffic-light traffic-light-success traffic-light-in-progress"></span>{{/link-to}}
	</li>
	<li title="Success" data-toggle="tooltip" data-placement="right">
		{{#link-to 'build' releaseCenter "snomed_ct_international_edition" "snomed_ct_international_edition" "3_20140131_international_release__nightly" }}20140131_international_release__nightly{{/link-to}}
		{{#link-to "execution" releaseCenter "snomed_ct_international_edition" "snomed_ct_international_edition" "3_20140131_international_release__nightly" title='Last Run: 17 Feb, 2014 01:05:00 UTC'}}<span class="traffic-light traffic-light-success"></span>{{/link-to}}
	</li>
	<li title="Warning" data-toggle="tooltip" data-placement="right">
		{{#link-to 'build' releaseCenter "snomed_ct_international_edition" "snomed_ct_international_edition" "2_20140131_international_release__biannual" }}20140131_international_release__biannual{{/link-to}}
		{{#link-to "execution" releaseCenter "snomed_ct_international_edition" "snomed_ct_international_edition" "2_20140131_international_release__biannual" title='Last Run: 17 Feb, 2014 01:05:00 UTC'}}<span class="traffic-light traffic-light-warning"></span>{{/link-to}}
	</li>
	<li title="Failure" data-toggle="tooltip" data-placement="right">
		{{#link-to 'build' releaseCenter "snomed_ct_international_edition" "snomed_ct_spanish_edition" "8_20140731_international_release__biannual" }}20140731_international_release__biannual{{/link-to}}
		{{#link-to "execution" releaseCenter "snomed_ct_international_edition" "snomed_ct_spanish_edition" "8_20140731_international_release__biannual" title='Last Run: 17 Feb, 2014 01:05:00 UTC'}}<span class="traffic-light traffic-light-failure"></span>{{/link-to}}
	</li>	

</ul>

