<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li>{{#link-to "release-center" parent.product.parent.parent}}{{parent.product.parent.parent.shortName}}{{/link-to}}</li>
	<li>{{#link-to "extension" parent.product.parent}}{{parent.product.parent.name}}{{/link-to}}</li>
	<li>{{#link-to "product" parent.product}}{{parent.product.name}}{{/link-to}}</li>
	<li>{{#link-to "build" parent}}{{parent.name}}{{/link-to}}</li>
	<li>{{name}}</li>
</ol>

<h3 class="page-header">17 Feb, 2014 01:05:00 (UTC) <small>(Execution)</small></h3>

<div class="row">
	<div class="col-md-3">
		<ul class="nav">
			<li>{{#link-to 'execution-mock.results'}}Results{{/link-to}}</li>
			<li>{{#link-to 'execution-mock.debug'}}Debug{{/link-to}}</li>
			<li>{{#link-to 'execution-mock.output'}}Output{{/link-to}}</li>
			<li>{{#link-to 'execution-mock.publish'}}Publish{{/link-to}}</li>
		</ul>
	</div>
	<div class="col-md-9">
		{{outlet}}
	</div>
</div>