<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li>{{#link-to "release-center" parent}}{{parent.shortName}}{{/link-to}}</li>
	<li id="tour-stop-c3">{{name}}</li>
</ol>

<h2>{{name}} <small>{{#unless isInternationalEdition}}(Extension) {{/unless}}{{partial "title-dropdown"}}</small></h2>
<h3>Products</h3>
<ul>
	{{#each products}}
	<li>
		{{#link-to "product" this}}
		{{name}}
		{{/link-to}}
	</li>
	{{/each}}
</ul>
{{#if controllers.application.isAuthenticated}}
<button class="btn btn-primary btn-md list-align" {{action 'addProduct' this}}>
	<span class="glyphicon glyphicon-plus"></span> Add a Product
</button>
{{/if}}
