<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="ribbon"><span>Beta</span></div>
		<div class="navbar-header">
			<a class="navbar-brand" href="#">SNOMED Release Service</a>
		</div>
		<div class="navbar-right">
			<div class="logo nav navbar-right">
				<a href="http://www.ihtsdo.org/" target="_blank">IHTSDO, Delivering SNOMED CT</a>
			</div>
			<!--
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Tours <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="javascript: startExecutionTour();">Execution Tour</a></li>
						<li><a href="javascript: startConfigurationTour();">Configuration Tour</a></li>
					</ul>
				</li>
			</ul>
			{{#unless controllers.application.isAuthenticated}}
			<form class="navbar-form navbar-right login" role="form">
				<div class="alert alert-warning login-error" style="display: none">
					<button type="button" class="close" aria-hidden="true" onclick="$(this).parent().hide()">&times;</button>
					Incorrect login details
				</div>
				<div class="form-group">
					<input name="username" type="text" placeholder="Email" class="form-control">
				</div>
				<div class="form-group">
					<input name="password" type="password" placeholder="Password" class="form-control">
				</div>
				<button type="submit" class="btn btn-success" {{action 'signin'}}>Sign in</button>
			</form>
			{{/unless}}
			{{#if controllers.application.isAuthenticated}}
			<div class="navbar-right navbar-form">
				<span class="well-sm username">
					{{controllers.application.currentUser.username}}
				</span>
				<button type="button" class="btn btn-default signout" {{action 'signout'}}>Sign out</button>
			</div>
			{{/if}}
			-->
		</div><!--/.nav-collapse -->
	</div>
</div>
