
{{partial "header"}}

<div class="front-page">

	<div class="row">
		<div class="col-md-12">
			<p class="bg-success well-lg center">The API for the SNOMED Release Service is in production, however the user interface will be developed at a later date.</p>
		</div>
	</div>
<!--
	{{#each releaseCenter in releaseCenters}}
	<div class="jumbotron"  id="tour-stop-1">
			<h2 style="text-align: center">{{releaseCenter.name}} Dashboard</h2>
	</div>
	<div class="row">
		<div class="col-md-8">
			<h3>Products</h3>
			<ul>
				{{#each product in extension.products}}
				<li>
					{{#link-to 'product' releaseCenter extension product}}
					{{product.name}}
					{{/link-to}}
				</li>
				{{/each}}
			</ul>
			{{#if controllers.application.isAuthenticated}}
			<button class="btn btn-primary btn-md list-align" {{action 'addProduct' releaseCenter}}>
				<span class="glyphicon glyphicon-plus"></span> Add a Product
			</button>
			{{/if}}
		</div>
		<div class="col-md-4 align-under-h2" id="tour-stop-2">
			<h4 class="align-as-h2">Products</h4>
			Click the name of the product to navigate to the Products page, which enables you to configure products and see builds associated with each product.
		</div>
	</div>

	{{/each}}
-->
</div>
