<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li>{{#link-to "release-center" parent.parent.parent}}{{parent.parent.parent.name}}{{/link-to}}</li>
	<li>{{#link-to "extension" parent.parent}}{{parent.parent.name}}{{/link-to}}</li>
	<li>{{#link-to "product" parent}}{{parent.name}}{{/link-to}}</li>
	<li>{{name}}</li>
</ol>

<h2>You are about to run: {{name}}</h2>

<pre> {{config.configStr}}</pre>

{{#if controllers.application.isAuthenticated}}
<button {{action 'runBuild' this}} type="button" class="btn btn-success btn-lg success">
	<span class="glyphicon glyphicon-thumbs-up "></span> Run Build
</button>
{{/if}}
