<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" id="tour-stop-c9">Build Preconditions</h3>
			</div>
			<div class="panel-body">
				<p class="lead"><small>These tests will be run against build input files.</small></p>
				<div class="checkbox">
					<ul>
						<li>Check manifest file present</li>
						<li>Check readme file present</li>
						<li>Check RF2 format check</li>
						<li>Check module dependency ref set defined</li>
						<li>Check files in manifest present</li>
						<li>Check no Files present that are not in manifest</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h4>Pre-conditions</h4>
		The list on the left shows the checks that will be run, prior to a build execution.
	</div>
</div>	