<ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li>{{#link-to "release-center" parent}}{{parent.shortName}}{{/link-to}}</li>
	<li id="tour-stop-c4">{{name}}</li>
</ol>

<h2 class="page-header">{{name}} <small>(Product) {{partial "title-dropdown"}}</small></h2>
<div class="col">
	<div class="col-sm-6">
		<h3>Builds</h3>
		<ul>
			{{#each builds}}
			<li>
				{{#link-to "build" this}}{{name}}{{/link-to}}
				<a href="#" title="Star this build to display it on the home page." data-toggle="tooltip" onclick="$(this).find('span').toggleClass('glyphicon-star-empty'); return false;"><span class="glyphicon glyphicon-star glyphicon-star-empty"  id="tour-stop-c5"></span></a>
			</li>
			{{/each}}
			<li class="no-bullet">{{#link-to}}More...{{/link-to}}</li>
		</ul>
		{{#if controllers.application.isAuthenticated}}
		<button class="btn btn-primary btn-md list-align" {{action 'addBuild' this}}>
			<span class="glyphicon glyphicon-plus"></span> Add a build
		</button>
		{{/if}}
	</div>
	<div class="col-sm-6">
		<h4>Builds</h4>
		<p>Click the name of the build to navigate to a page which shows the packages within that build and the build's recent executions.</p>
	</div>
</div>
