<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="modalLabel">Create Release Centre</h4>
			</div>
			<div class="modal-body">
				{{#form-for model}}
					{{input releaseCentreName hint='Example: International Release Centre'}}
					{{input releaseCentreShortName hint='This is used in URLs and output filenames. Example: International'}}
				{{/form-for}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" {{action 'create'}}>Create</button>
			</div>
		</div>
	</div>
</div>
