<form>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Debug</h3>
		</div>
		<div class="panel-body">
			<div>
				<p class="lead"><small>You may choose to debug this execution on your local machine.<br/>
					This is not a required step.</small></p>
				<hr/>

				<h4>Maven Pom Download</h4>
				<p>The <a href="http://maven.apache.org/" target="_blank" title="Apache Maven Home Page" data-toggle="tooltip" >Maven</a> build scripts generated for this execution are available for download below.</p>
				<ul>
					<li><a>20130731 International Release - 2014-02-14_010500-maven.zip</a></li>
				</ul>
			</div>

		</div>
	
	</div>
</form>