<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<groupId>org.ihtsdo.snomed.release</groupId>
	<artifactId>{{release.product.extension.releaseCentre.businessKey}}_release_centre.{{release.product.extension.businessKey}}.{{release.product.businessKey}}.{{businessKey}}</artifactId>
	<version>{{release.businessKey}}</version>

	<name>{{name}} ({{release.product.name}}, {{release.product.extension.name}}, {{release.product.extension.releaseCentre.name}} Release Centre)</name>

</project>